# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# PyInstaller
build/
dist/
*.spec

# Application runtime data (not committed; recreated on first launch)
data/*.db
logs/*.log
data/exports/

# Test/tooling
.pytest_cache/
.coverage
htmlcov/

# OS/editor
.DS_Store
.vscode/
.idea/
